.footer2 {
    background-color: white;
    height: auto;
    margin: 10px;
}

.footer2 img {
    height: 50px;
    width: auto;
}

#ebit {
    height: 100px;
    width: auto;
}

.container {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagens {
    border-top: 0.1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.midias img {
    width: 25px;
    height: 25px;
}
