*{
    margin: 0;
    padding: 0;
}


.paiContato{
  display: flex;
  flex-direction: row-reverse;

}
.emaildiv{
    text-align: left;
    padding-left: 20px;
    
}

#emailid{
    width: 80px;
    height: 80px;
    padding-left: 370px;
    margin-bottom: 5px;
    margin-top: 60px;
}

#titulo{
    text-align: center;
}
#titulo2{
    text-align: center;
}

#telefoneid{
    margin-top: 4px;
    text-align: center;
}
#idmail{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.mensagem{
    margin-left: 10px;
    text-align: center;
}

.testoMensagem{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
    padding-left: 10px;
}

.nome{
    font-size:  20px;
    width: 610px;
    height: 50px;
    padding: 20px 20px;
    margin: 30px 0  ;
    display: flex;
    flex-wrap: wrap;
    
  
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
}

#idpName{
    text-align: left;
    margin-top: 100px;
}
#idpEmail{
    text-align: left;
    margin-top: 90px;
}
#idpText{
    height: 200px;
    margin-top: 90px;
}
