*{
    margin: 0;
    padding: 0;
}

.containerProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    
}

.boxProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    margin: 50px;
    width: 290px; 
    height: auto;
    padding-bottom: 15px;
    border: solid 2px #25c505a9;
    border-radius: 25px;
    border: 1px solid #4feb30a9;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.boxProduct:hover{
    color: rgb(0,0,0);
    text-decoration: none;
    transform: scale(1.01);
    transition: all 0.2s;
    border: 1px solid #4feb30a9;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.imgProduct{
    padding: 5px;
    width: 12rem;
    height: 11rem;
    align-self: center;
}


.descriptionProduct{
    padding: 5px;
    padding-top: 10px;
    color: rgb(82, 82, 82);
    font-size: 14px;
}

.priceProduct{
    padding: 8px;
    font-size: 25px;
    color: #a51b1b;
}
.btnComprar{
    background-color: rgb(43, 142, 0);
    border: none;
    width: 120px;
    font-size: 17px;
    height: 40px;
    border-radius: 100px;
    align-self: center;
    color: black;
    transition-delay: 0;
    transition: 0.5s;
}

.btnComprar:hover{
    color: white;
    background-color: rgb(35, 99, 16);
    border-radius: 100px;
    transform: scale(1.1);

}