*{
    margin: 0;
    padding: 0;
}
.caixaProduct{
    margin: 50px;
    width: 350px;
    padding-bottom: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 2px rgb(43, 142, 0);
    border-radius: 100px
}

.imgProduct{
    width: 250px;
    align-self: center;
}
.descriptionProduct{
    padding: 25px;
}

.btnComprar{
    background-color: rgb(43, 142, 0);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    align-self: center;
    color: white;
    transition-delay: 0;
    transition: 0.5s;
}

.btnComprar:hover{
    border-radius: 0;
    color: rgb(43, 142, 0);
    background-color: white;
}